header{
    background-color: blueviolet;
}
nav{
    background-color: rgb(79, 79, 139);
}
div{
    overflow: hidden;
}
article{
    background-color: rgb(43, 124, 43);
    height: 300px;
    width: 50%;
    float: left;
}
aside{
    background-color: rgb(133, 82, 155);
    height: 300px;
    width: 50%;
    float: right;
}
footer{
    background-color: rgb(173, 134, 56);
}
